.nested-form-wrapper{data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper'}}
    .col-md-8
        .field.fs-3
            = f.label :name, class: "form-label text-white fs-4"
            = f.text_field :name, class: "form-control mb-3"
        .field.fs-3
            = f.label :description, class: "form-label text-white fs-4"
            = f.text_field :description, class: "form-control mb-3"
        .field.fs-3
            = f.label :price, class: "form-label text-white fs-4"
            = f.text_field :price, class: "form-control mb-3"
        .field.text-white
            = f.file_field :photo
            %button.form-label.btn.btn-dark.fs-5.rounded-pill{"data-action" => "nested-form#remove", :type => "button"} Delete Product
            = f.hidden_field :_destroy
        %template{"data-nested-form-target" => "template"}
            = f.fields_for :variants, f.object.variants.new, child_index: 'NEW_RECORD' do |variant_fields|
                = render "variant_form", f: variant_fields
        = f.fields_for :variants do |variant_fields|
            = render "variant_form", f: variant_fields
        %div{"data-nested-form-target" => "target"}
            .field.mb-3
                %button.form-label.btn.btn-dark.btn-outline-light.rounded-pill{"data-action" => "nested-form#add", :type => "button"} New Variant