- content_for :jumbotron do
  Stores
.row.mx-5.mb-5
  .col
    = search_form_for @q do |f|
      = f.search_field :name_cont, placeholder: "Search by name...", class: "text-white bg-dark form-control"
  .col
    = search_form_for @q do |f|
      = f.search_field :street_cont, placeholder: "Search by street...", class: "text-white bg-dark form-control"
  .col
    = search_form_for @q do |f|
      = f.search_field :city_cont, placeholder: "Search by city...", class: "text-white bg-dark form-control"
  .col
    = search_form_for @q do |f|
      = f.search_field :state_cont, placeholder: "Search by state...", class: "text-white bg-dark form-control"
  .col
    = search_form_for @q do |f|
      = f.search_field :country_cont, placeholder: "Search by country...", class: "text-white bg-dark form-control"
.col-md-8.mx-auto
  - @stores.each do |store|
    = link_to store_path(store), class: "text-white text-decoration-none" do
      .row.my-3
        .col-2.my-auto= image_tag store.photo.variant(resize_to_fill: [200, 125]), class: "rounded"
        .col-10.text-white.bg-dark.rounded
          .row.fs-3.mt-3
            .col= "#{store.name}"
          .row.fs-5.mt-3
            .col="#{store.street} • #{store.city} • #{store.state} • #{store.country}"
        -# .col.my-auto= link_to 'Edit', edit_store_path(store), class: "btn btn-dark"
        -# .col.my-auto= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-dark"

%br

= link_to 'New Store', new_store_path
