- content_for :jumbotron do
  = @store.name
.col-md-8.mx-auto
  .row.mb-3
    .col.text-white.fs-2.text-center.bg-dark.rounded.py-3= "#{@store.street} • #{@store.city} • #{@store.state} • #{@store.country}"
  .row.bg-dark.rounded.py-3
    .col-md-6.mb-3
      .row
        - if @store.photo.attached?
          = image_tag @store.photo
    .col-md-6.mb-3
      %iframe{:allowfullscreen => "", :height => "345", :loading => "lazy", :src => "https://www.google.com/maps/embed/v1/place?q=#{@store.latitude}%2C%20#{@store.longitude}&key=AIzaSyDD4mJzxK8STY8f5LOcGRRbymOcqCPiA40", :style => "border:0", :width => "625"}
  - @store.products.each do |product|
    .row.my-3.mx-auto
      .col-2.my-auto= image_tag product.photo.variant(resize_to_fill: [200, 100]), class: "rounded"
      .col-10.text-white.bg-dark.rounded
        .row.fs-4.mt-2
          .col= "#{product.name} • #{product.price}"
        .row.fs-5.my-auto
          .col= product.description
    .row
      - product.variants.each do |variant|
        .row.mb-1
          .col-10.text-white.bg-dark.rounded.mx-auto
            .row.fs-4.my-auto
              .col= variant.name
            .row.fs-5.my-auto.py-2
              .col
                - variant.variant_options.each do |option|
                  -unless option == variant.variant_options.last
                    = "#{option.name} • "
                  -else
                    = option.name
      
= link_to 'Edit', edit_store_path(@store), class: "btn btn-dark"
= link_to 'Back', stores_path, class: "btn btn-dark"