= form_with(model: form, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |f|
    - if form.errors.any?
        #error explanation
        %h2.text-white.mx-5
            = pluralize(form.errors.count, "error")
            prohibited this book from being saved:
        %ul.text-white.mx-5
            - form.errors.each do |error|
                %li= error.full_message
    .field.fs-2.mx-5.px-5
        = f.label :name, class: "form-label text-white"
        = f.text_field :name, class: "form-control mb-3"
    .field.fs-2.mx-5.mb-3.px-5
        = f.label :description, class: "form-label text-white"
        = f.text_area :description, class: "form-control"
    %template{"data-nested-form-target" => "template"}
        = f.fields_for :questions, Question.new, child_index: 'NEW_RECORD' do |question_fields|
            = render "question_form", f: question_fields
    = f.fields_for :questions do |question_fields|
        = render "question_form", f: question_fields
    %div{"data-nested-form-target" => "target"}
    .d-flex.justify-content-center.mx-5.mt-3.mb-5
        %button.form-label.btn.btn-dark.w-50.fs-4.rounded-pill.py-2{"data-action" => "nested-form#add", :type => "button"} Add Question
    .actions
        .d-flex.justify-content-center.mx-5.px-5
            = f.submit 'Save', class: "btn btn-dark btn-lg mx-4 w-25 fs-3 rounded-pill"
            - if form.new_record?
                = link_to 'Cancel', forms_path, class: "btn btn-dark btn-lg mx-4 w-25 fs-3 rounded-pill"
            - else
                = link_to 'Cancel', form_path, class: "btn btn-dark btn-lg mx-4 w-25 fs-3 rounded-pill"