= form_with(model: form, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |f|
    - if form.errors.any?
        #error explanation
        %h2.text-white.mx-5
            = pluralize(form.errors.count, "error")
            prohibited this form from being saved:
        %ul.text-white.mx-5
            - form.errors.each do |error|
                %li= error.full_message
    .col-md-6.mx-auto
        .field.fs-2.mb-3
            = f.label :name, "Name:", class: "form-label text-white"
            = f.text_field :name, class: "form-control fs-5"
        .field.fs-2.mb-3
            = f.label :description, "Description:", class: "form-label text-white"
            = f.text_field :description, class: "form-control fs-5"
        %template{"data-nested-form-target" => "template"}
            = f.fields_for :questions, Question.new, child_index: 'NEW_RECORD' do |question_fields|
                = render "question_form", f: question_fields
        = f.fields_for :questions do |question_fields|
            = render "question_form", f: question_fields
        %div{"data-nested-form-target" => "target"}
            .field.mb-3
                .row.justify-content-center
                    .col-md-6.mt-3
                        %button.form-label.btn.btn-dark.w-100.fs-3.rounded-pill{"data-action" => "nested-form#add", :type => "button"} New Question
        .row.justify-content-center
            .d-flex.justify-content-center.text-center.text-white.fs-3
                Enable other users to edit this form and view responses:
            = f.select :user_ids, User.all.map {|u| [u.username, u.id]}, {}, {:multiple => true, class: "form-select text-white bg-dark w-100", data: { controller: "select2" }}
        .actions(form_path)
            .row.justify-content-center
                .col-12
                    .d-grid.gap-2.d-md-flex.justify-content-md-center.mb-3.mt-5
                        = f.submit 'Save', class: "btn btn-dark btn-lg w-100 fs-3 rounded-pill"
                        - if form.new_record?
                            = link_to 'Cancel', my_forms_index_path, class: "btn btn-dark btn-lg w-100 fs-3 rounded-pill"
                        - else
                            = link_to 'Cancel', form_path, class: "btn btn-dark btn-lg w-100 fs-3 rounded-pill"
                            = link_to 'Delete', @form, method: :delete, data: { confirm: 'Are you sure you want to delete ' + @form.name + '?' }, class: "btn btn-dark btn-lg w-100 fs-3 rounded-pill"
