- content_for :jumbotron do
    My Forms

.d-flex.justify-content-center
    = link_to "Home", root_path, class: "btn btn-dark btn-lg w-25 mx-5 mb-3 fs-3 rounded-pill justify-content-center"

.row
    .d-flex.justify-content-center.text-white.fs-1
        Created Forms
    .col-6.mx-auto.text-white.p-3
        - @forms.each do |form|
            = link_to form_path(form), class: "text-white text-decoration-none" do
                .row.bg-dark.rounded-pill.p-3.mb-3
                    .col-6.fs-4= form.name
                    .col-6.text-start.truncate= form.description
    .d-flex.justify-content-center.text-white.fs-1
        = link_to "Create New Form", new_form_path, class: "btn btn-dark fs-3 w-25 mb-5 mx-auto px-5 py-2 rounded-pill"
        