- content_for :jumbotron do
    = @form.name

.col-md-6.justify-content-center.text-center.text-white.fs-4.mx-auto
    = @form.description

.row.mt-3
    .col-md-6.mx-auto.text-white.p-3
        -if @form.questions.present?
            -@form.questions.each do |question|
                = link_to new_form_response_path(@form), class: "text-white text-decoration-none" do
                    .row.bg-dark.rounded.p-4.mb-1.fs-5
                        .col
                            .row
                                = question.prompt.truncate(285)
                            .row
                                -question.options.each do |option|
                                    -unless option == question.options.last
                                        = "#{option.text} •"
                                    -else
                                        = option.text
        -else
            .text-center.text-white.fs-3.mx-5.px-5
                This form has no questions.
-if user_signed_in?
    -if current_user.forms.include?(@form)
        .row.justify-content-center
            .col-md-6
                .d-grid.gap-2.d-md-flex.justify-content-md-center.mb-3.mt-1
                    = link_to "Back", my_forms_index_path, class: "btn btn-dark btn-lg w-100 fs-3 rounded-pill"
                    = link_to "Edit", edit_form_path, class: "btn btn-dark btn-lg w-100 fs-3 rounded-pill"
                    = link_to "Responses", form_responses_path(@form), class: "btn btn-dark btn-lg w-100 fs-3 rounded-pill"
    -else
        .row.justify-content-center
            .col-md-6
                .d-grid.gap-2.d-md-flex.justify-content-md-center.mb-3.mt-1
                    = link_to "Back", forms_path, class: "btn btn-dark btn-lg w-100 fs-3 rounded-pill"
                    = link_to "Respond", new_form_response_path(@form), class: "btn btn-dark btn-lg w-100 fs-3 rounded-pill"
-else
    .row.justify-content-center
        .col-md-6
            .d-grid.gap-2.d-md-flex.justify-content-md-center.mb-3.mt-1
                = link_to "Back", forms_path, class: "btn btn-dark btn-lg w-100 fs-3 rounded-pill"
                = link_to "Respond", new_form_response_path(@form), class: "btn btn-dark btn-lg w-100 fs-3 rounded-pill"